@import "tailwindcss";

@import 'leaflet/dist/leaflet.css';
@import 'leaflet-defaulticon-compatibility';
@import 'leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css';


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
